*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* width: 100vw; */
}
::-webkit-scrollbar{
    width: 9px;
    background-color: #ECFDF5;
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #064E3B;
  }